.idea/
__pycache__/
results/
/data/*
/temp/
/h5py_files/
/model_trained/
/mcg/
/libs/
*.png
.idea/*.xml
*.pyc
*.jpg
*.pfm

img_lmdb/
dep_lmdb/
seg_lmdb/

*.xml
*.tar
*.iml

hindi-sample-detection/
hindi-sample-recognition/
gt.txt


.idea/.gitignore
.idea/inspectionProfiles/Project_Default.xml
.idea/vcs.xml
