cycler==0.10.0
h5py==2.9.0
image==1.5.27
imageio==2.5.0
kiwisolver==1.1.0
matplotlib==3.0.3
numpy==1.16.3
opencv-python==4.1.0.25
Pillow==6.0.0
pygame==1.9.6
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
scipy==1.2.1
six==1.11.0
sqlparse==0.3.0
tornado==6.0.2
wget==3.2
